*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

.navbar{
    position: sticky;
    z-index: 2;
    background-image: linear-gradient(135deg, rgb(231, 32, 198) 0%, #ab06ab 100%);
    top: 0;
    box-shadow: 0px 20px 10px 0px rgba(231, 19, 206, 0.2);

}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 32px;
    
}

.nav-logo img{
    width: 150px;
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.nav-link{
    color: rgb(8, 209, 206);
    text-decoration: none;
    font-size: 14pt;
    font-weight: 600;
    padding: 8px 16px;
}

.nav-link:hover{
    color: rgb(8, 209, 206);
}

@media screen and (max-width: 768px) {
    .nav-container{

        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .nav-menu{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 16px;
    }
    
}


@media screen and (max-width: 480px) {
    .nav-container{

        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .nav-menu{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
}