.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.trainers-grid {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.trainer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 calc(33.333% - 2rem);  
    max-width: calc(33.333% - 2rem);
    border-radius: 10px;
    overflow: hidden;
    background-image: linear-gradient(90deg, rgba(219, 32, 200, 0.884) 0%,rgba(219, 32, 200, 0.884) 100%);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2);
}

.trainer-card:hover{
    transform: translateY(-10px);
    z-index: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.333);
    transition: all 0.3s ease;
}

.trainer-image{
    width: 100%;    
    height: 100%;
}

.trainer-info{
    margin: 5px;
    display: flex;
    flex-direction: column;    
    gap: 5px;
    text-align: center;
}


.trainer-status{
    padding: 5px;
    border-radius: 5px;
}

.status-active{
    background-image: linear-gradient(90deg, rgb(41, 233, 124) 0%,rgb(0, 174, 255) 100%);

}

.status-champion{
    background-image: linear-gradient(90deg, rgba(255, 128, 0, 0.774) 0%,rgba(246, 255, 0, 0.884) 100%);
}

@media screen and (max-width: 768px){
    .trainer-card{
  
        flex: 1 1 calc(50% - 2rem);  
        max-width: calc(50% - 2rem);
        min-height: fit-content;

    }
}

/* Mobile (hasta 480px) */
@media screen and (max-width: 480px) {
    .trainer-grid{
        display: flex;
        flex-wrap: wrap;                  
        gap: 1rem;
        margin: 10px;
        padding: 8px;
    }

    .trainer-card {
        flex: 1 1 100%;                  
        max-width: 100%;
        min-height: fit-content;
        
    }

    .trainer-name{
        font-size: 18px;
        margin: 8px 0;
    }

    .trainer-type{
        font-size: 14px;
    }
}